# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
dist-ssr/

# Local env files
*.local
.env

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
